#gaga-theme {
  color: #fc849d;
}

#beatles-theme {
  color: rgb(245, 185, 20);
}

#queen-theme {
  color: rgb(99, 8, 134);
}

#kanye-theme {
  color: rgb(14, 14, 179);
}

#mj-theme {
  color: rgb(175, 2, 2);
}

.step {
  border: none;
}

.img-button {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  border: 5px solid #fc849d;
  transition-duration: scale 2000;
  cursor: pointer;
}

.img-button:hover {
  transform: scale(1.2);
}

.flex-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
